@font-face {
    font-family: 'MontserratRegular';
    src: url('../../font/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../../font/montserrat/Montserrat-Bold.ttf');
}

* {
    font-family: MontserratRegular;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #47748b;
    ;
}

.btn {
    padding: 8px 20px;
    margin: 10px 0;
    background-color: #47748b;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn:hover {
    box-shadow: 0px 0px 0px 2px #47748b inset, 0px 0px 0px 4px white inset;
    color: white;
}

.btn:active {
    transform: scale(0.9);
}



/*--------------------------------------------- Disconnect container*/
.ctnr-name-disconect {
    width: auto;
    height: 50px;
    margin-right: 30px;
}

.ctnr-disconnect {
    width: 95%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.name-disconnect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.name-disconnect h3 {
    margin: 0;
    margin-right: 10px;
}

.disconnect-fai {
    cursor: pointer;
}



/*--------------------------------------------- List student section*/
.name-user {
    text-align: center;
}

.ctnr-list-student {
    width: 100%;
    height: auto;
}

.name-date h4 {
    margin-left: 5%;
    color: #47748b;
}

.name-class-subject {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

table {
    width: 90%;
    margin-left: 5%;
}

/*Dynamic error message*/
.error-class-list {
    margin-left: 5%;
}

.name-class-subject,
#datepicker {
    margin-left: 5%;
}

.student,
.present,
.delay,
.absence {
    position: relative;
    width: 20%;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
}

.form-list {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
}

#modify-list {
    display: none;
    color: white;
    padding: 8px 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

#send-list {
    margin-right: 15px;
}

#update-class-list {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

#redirection-update,
#validate-update-value {
    display: none;
}

/*Dynamic student message*/
.msg-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.display-message {
    position: absolute;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #47748b;
    opacity: 0.86;
    top: 5px;
    right: 49px;
    border-radius: 4px;
    color: white;
}

.msg-icon:hover {
    transition-delay: 4s;
}



/*---------------------------------------------Timetable section*/
.timetable-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.date {
    width: 95%;
    display: flex;
    margin-left: 5%;
}

/*Dynamic date text*/
.date p {
    margin: 0 5px;
}

.minDate {
    margin-right: 4px;
}

/*Create green, orange and red round*/
.green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}

.red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    display: none;
}

.orange {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
    display: none;
}

.ctnr-present {
    display: flex;
    justify-content: center;
}

.ctnr-late {
    display: flex;
    justify-content: space-around;
}

.ctnr-late p {
    margin: 0;
}

.ctnr-absent {
    display: flex;
    justify-content: space-around;
}

.ctnr-absent p {
    margin: 0;
}

.btn-ctnr {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}