@font-face {
  font-family: "MontserratRegular";
  src: url("../../font/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../../font/montserrat/Montserrat-Bold.ttf");
}

* {
  font-family: MontserratRegular;
}

body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctnr-reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 30%;
  justify-content: center;
  background-color: skyblue;
}

.ctnr-reset-password h2 {
  margin-top: 0;
  text-transform: uppercase;
}

.form-reset-password {
  display: flex;
  flex-direction: column;
  width: 80%;
}

label {
  margin-left: 10px;
  margin-top: 15px;
}
.form-reset-password input[type="email"] {
  margin: 5px 0 5px 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
#send {
  padding: 8px 20px;
  margin: 20px 0 20px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2c314e;
  color: white;
}
